.header {
	width: 98%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button__close-app {
	font-size: 19px;
	color: rgb(0, 98, 255);
	border: none;
	background: none;
}
.button__close-app:hover {
	cursor: pointer;
}
.main-title {
	font-size: 21px;
}
