.product {
	display: flex;
	flex-direction: column;
	width: 170px;
	background: rgba(238, 238, 238, 0.48);
	padding: 3px;
	border-radius: 8px;
	padding-bottom: 7px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.remove_button {
	background-color: #ffffff00;
	width: 100%;
	border: none;
	text-align: right;
	margin-bottom: -22px;
	z-index: 3;
}
.img {
	width: 100%;
	border-radius: 5px;
	background: lightgray;
	height: 100%;
	margin: 0 auto;
	background: black;
}
.description {
	font-size: 0.8em;
}

.add_btn {
	width: 90%;
	margin: 0 auto;
	border: none;
	background-color: white;
	padding: 7px 5px;
	border-radius: 15px;
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add_btn_mini {
	border: none;
	background: none;
}
.btn_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 5px;
	padding: 1.5px 0px;
}
.product_title {
	font-size: 17px;
}
.product_info {
	margin-left: 8px;
}
