.product {
	display: flex;
	flex-direction: column;
	width: 170px;
	background: rgba(238, 238, 238, 0.48);
	padding: 3px;
	border-radius: 8px;
	padding-bottom: 7px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.img {
	width: 100%;
	border-radius: 5px;
	background: lightgray;
	height: 100%;
	margin: 0 auto;
	background: black;
}
.description {
	font-size: 0.8em;
}
.add-btn {
	width: 90%;
	margin: 0 auto;
	border: none;
	background-color: white;
	padding: 7px 5px;
	border-radius: 15px;
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-title {
	font-size: 15px;
}
.product-info {
	margin-left: 8px;
}
